.productsStyles {
    min-height: 75vh;
}

@media screen and (max-width: 5000px) {
    .searchBar {
        margin-right: 1rem;
        transition: .5s;
        background-color: black;
        color: white;
    }
    
    .searchBar:hover {
        opacity: .6;
    }
}

@media screen and (max-width: 600px) {
    .searchBar {
        height: 4vh;
        width: 25vw;
    }
}