.product {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    padding: 20px;
    grid-gap: 40px;
}

.card {
    position: relative;
    clip-path: polygon(0 0,100% 0, 100% 95%, 0 102%);
    border: 1px solid #EABF84;
    background-color: #ecf0f1;
    border-radius: 20px;
    opacity: .9;
    color: #1e272e;
    transition: 1s;
}

.cardBody {
    /* border: 2px solid red; */
}

.card:hover {
    margin: -.5rem;
    opacity: 1;
    color: #F95C17;
    background-color: #1e272e;
    border: 3px solid #F95C17;
}

.synthImage {
    border-radius: 20px;
    display: block;
    cursor: pointer;
}

.addToCart {
    height: 2rem;
    width: 2.5rem;
    transition: .5s;
    border-radius: 10px;
    background-color: #1e272e;
    padding: 5px;
    margin-left: 5%;
    cursor: pointer;
}

.addToCart:hover {
    height: 2.5rem;
    width: 3rem;
    background-color: #dfe4ea;
}

.addToWishList {
    height: 2rem;
    width: 2.5rem;
    transition: .5s;
    border-radius: 10px;
    background-color: #1e272e;
    padding: 5px;
    margin-left: 5%;
    cursor: pointer;
}

.addToWishList:hover {
    height: 2.5rem;
    width: 3rem;
    background-color: #dfe4ea;
}