.card {
    position: relative;
    clip-path: polygon(0 0,100% 0, 100% 95%, 0 102%);
    border: 1px solid #EABF84;
    background-color: #dfe4ea;
    border-radius: 20px;
    opacity: .9;
    color: #222f3e;
    transition: 1s;
}

.cardBody {
    /* border: 2px solid red; */
}

.card:hover {
    margin: -.5rem;
    opacity: 1;
    color: #F95C17;
    background-color: #222f3e;
    border: 3px solid #F95C17;
}

.synthImage {
    border-radius: 20px;
    display: block;
}

.addToCart {
    height: 2rem;
    width: 3rem;
    transition: .5s;
    border-radius: 10px;
    background-color: #222F3E;
    padding: 5px;
    margin-left: 5%;
}

.addToCart:hover {
    height: 3rem;
    width: 4rem;
    background-color: #dfe4ea;
}

.addToWishList {
    height: 2rem;
    width: 3rem;
    transition: .5s;
    border-radius: 10px;
    background-color: #222F3E;
    padding: 5px;
    margin-left: 5%;
}

.addToWishList:hover {
    height: 3rem;
    width: 4rem;
    background-color: #dfe4ea;
}