.product {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    padding: 20px;
    grid-gap: 40px;
}

.card {
    position: relative;
    clip-path: polygon(0 0,100% 0, 100% 95%, 0 175%);
    border: 2px solid #EF1A2D;
    background-color: #131717;
    border-radius: 20px;
    opacity: .97;
    color: #ffffff;
    transition: 1s;
    box-shadow: inset 0 0 10vw 0vw #CCA56D;
    max-width: 35vw;
}

.card:hover {
    border: 3.5px solid #EF1A2D;
    background-color: #131717;
    opacity: 1;
    color: #ffffff;
    font-size: 110%;
}

.cardBody {
    border-radius: 3%;
    margin: 2%;
    padding: 2%;
    transition: 1s;
}

.cardBody:hover {
    border: none;
    border-radius: 3%;
    margin: 2%;
}

.synthImage {
    border-radius: 20px;
    display: block;
    cursor: pointer;
}

.nameAndPrice {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardRedButtons {
    display: flex;
    justify-content: center;
}

.addToCart {
    background-color: #EF1A2D;
    border-radius: 30px;
    height: 2rem;
    width: 2.5rem;
    transition: .5s;
    padding: 5px;
    margin-left: 5%;
    cursor: pointer;
}

.addToCart:hover {
    height: 2.5rem;
    width: 3rem;
}

.addToCheckout {
    background-color: #EF1A2D;
    border-radius: 30px;
    height: 2rem;
    width: 2.5rem;
    transition: .5s;
    padding: 5px;
    margin-left: 5%;
    cursor: pointer;
}

.addToCheckout:hover {
    height: 2.5rem;
    width: 3rem;
}