.authStyle {
    min-height: 73.5vh;
}

.logInForm {
    padding-top: 6.9rem;
    background-color: #131717;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textColor {
    color: #CCA56D;
}

.loginButton {
    border: 1px solid #EF1A2D;
    color: #ffffff;
    background-color: #EF1A2D;
    transition: .5s;
}

.loginButton:hover {
    border: 1px solid #EF1A2D;
    color: #ffffff;
    background-color: #EF1A2D;
    opacity: .5;
}