.navbarStyle {
    background-color: #1e272e;
    opacity: .95;
    box-shadow: 0 0 100px #F95C17;
}

@media screen and (max-width: 5000px) {
    .logo {
        border: 5px solid #1B1464;
        border-radius: 40px;
        height: 4rem;
        transition: .5s;
    
    }
    
    .logo:hover {
        opacity: .8;
        box-shadow: 0 0 10px #F95C17;
    }
    
    .synths {
        height: 2rem;
        width: 2rem;
        margin-top: .8rem;
        transition: .5s;
    }
    
    .synths:hover {
        opacity: .6;
    }
    
    .cart {
        height: 2rem;
        width: 3rem;
        padding-right: 20%;
        margin-top: .05rem;
        transition: .5s;
    }

    span {
        padding: 0 3px;
        background-color: red;
        color: white;
        font-weight: bold;
        border-radius: 5px;
        position: relative;
        top: -15px;
    }

    .cart:hover {
        opacity: .6;
    }
    
    .wishList {
        height: 2rem;
        width: 3rem;
        padding-right: 20%;
        margin-top: 0rem;
        margin-left: -40%;
        transition: .5s;
    }
    
    .wishList:hover {
        opacity: .6;
    }
    
    .searchBar {
        margin-right: 1rem;
        margin-top: .4rem;
        transition: .5s;
    }
    
    .searchBar:hover {
        opacity: .6;
    }
}

@media screen and (max-width: 600px) {

    .logo {
        height: 5vh;
        width: 25vw;
    }

    .synths {
        height: 4vh;
        width: 8vw;
        margin-top: 50%;
    }

    .cart {
        height: 4vh;
        width: 6vw;
        margin-left: 30%;
    }

    .wishList {
        height: 4vh;
        width: 6vw;
        margin-left: 30%;
    }

    .searchBar {
        height: 4vh;
        width: 25vw;
        margin-top: 0rem;
    }
}