.navbarStyle {
    background-color: #131717;
    opacity: .95;
    box-shadow: 0 0 100px #EF1A2D;
}

a {
    text-decoration: none;
}

@media screen and (max-width: 5000px) {
    .logo {
        border-radius: 40px;
        height: 4rem;
        transition: .5s;
        margin-left: 2rem;
    }

    .logo:hover {
        opacity: .8;
        box-shadow: 0 0 10px #EF1A2D;
    }

    .navbarItems {
        display: flex;
        justify-content: space-between;
        width: 100vw;
    }
    
    .synths {
        height: 3rem;
        width: 6rem;
        margin-top: 1rem;
        transition: .5s;
    }
    
    .synths:hover {
        opacity: .6;
    }
    
    .cart {
        height: 2rem;
        width: 3rem;
        padding-right: 20%;
        margin-top: 1rem;
        transition: .5s;
    }
    
    .cart:hover {
        opacity: .6;
    }

    .redBalloon {
        padding: 0 3px;
        background-color: #EF1A2D;
        color: #ffffff;
        font-weight: bold;
        border-radius: 10px;
        position: relative;
        top: -20px;
        right: 35px;
    }
    
    .logIn {
        height: 2rem;
        width: 3rem;
        padding-right: 20%;
        margin-top: 1rem;
        transition: .5s;
    }

    .logOut {
        height: 2rem;
        width: 3rem;
        padding-right: 20%;
        margin-top: 1rem;
        transition: .5s;
    }

    .checkout {
        height: 2rem;
        width: 3rem;
        padding-right: 20%;
        margin-top: 1rem;
        transition: .5s;
    }
    
    .checkout:hover {
        opacity: .6;
    }

    .homeLogo {
        visibility: hidden;
        width: 0;
        height: 0;
    }
}

@media screen and (max-width: 600px) {

    .logIn {
        height: 2rem;
        width: 3rem;
    }

    .logOut {
        margin-top: 1.3rem;
        height: 1rem;
        width: 2rem;
    }

    .logo {
        width: 5vw;
        height: 10vh;
        display: none;
    }

    .homeLogo {
        visibility: visible;
        width: 5vw;
        height: 5vh;
        margin-top: 15px;
    }

    .synths {
        height: 5vh;
        width: 8vw;
        margin-top: 1.4rem;
    }

    .cart {
        height: 5vh;
        width: 8vw;
        margin-left: 30%;
    }

    .redBalloon {
        padding: 0 3px;
        background-color: #EF1A2D;
        color: #ffffff;
        font-weight: bold;
        border-radius: 10px;
        position: relative;
        top: -50px;
        right: -16px;
        width: 0px;
        height: 5px;
    }

    .checkout {
        height: 5vh;
        width: 8vw;
    }
}