* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cinzel', serif;
    max-width: 100%;
}

body {
    background-image: url(../../assets/images/background-pic.jpeg);
    /* background-color: #131717; */
    background-size: cover;
    height: 100vh;
    display: grid;
    /* display: flex;
    flex-direction: column; */
    /* place-items: center center; */
}

.title {
    background-color: #000000;
    color: #ffffff;
    margin: 0;
    padding: 3%;
}

.modular {
    border: 10px solid #DBB57D;
    border-radius: 5px;
    height: 90vh;
    opacity: .98;
}