* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cinzel', serif;
    max-width: 100%;
}

body {
    background-image: url(../../assets/images//background/background-pic.jpeg);
    background-size: cover;
    height: 100vh;
    display: grid;
}

.title {
    background-color: #000000;
    color: #ffffff;
    margin: 0;
    padding: 3%;
}

.modular {
    /* border: 10px solid #DBB57D; */
    border-left: 300px solid #000000;
    border-right: 300px solid #000000;
    height: 60vh;
    opacity: .98;
}